/* link font chữ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400..700&display=swap');
*{
    font-family: "Reem Kufi", sans-serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*điều chỉnh ảnh backgroud và thích ứng*/
body{
    background:url(../image/dkdn_background.png);
    width: 100% block;
    height: 100% block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(27, 25, 25, 0);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgb(255, 255, 255), transparent);
    z-index: 100;
}

/* chỉnh phần chử tiêu đề (logo góc trái trên) */
.nav-logo  p{
    color: #fcad63;
}
.nav-logo img{
    width: 110px;
    margin-top: 1.9rem;
    
}

.link:hover, .active{
    border-bottom: 2px solid #ffffff;
}
.nav-button .btn{
    width: 130px;
    height: 45px;
    font-weight: 500;
    background: rgba(184, 184, 184, 0.692);/*dăng ky color;*/
    border: 20px ;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease;
    display:inline;
}
.btn:hover{
    background: rgba(255, 188, 44, 0.719);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: #eea159;/*Dang nhap corlor*/
}
.btn.btn.white-btn:hover{
    background: rgba(61, 54, 54, 0.5);
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 620px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: hsl(0, 0%, 0%);
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: rgb(59, 85, 85);/*mau href dk*/
    margin-left: 5px;
}
/*Phần chào giữ mh*/
.intro{
    text-align: center;
    font-size: 2em;
    color:rgb(15, 22, 22);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   
    
    
}
header{
    color: #202020;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(136, 136, 136, 0.2);
    color: #7c7878;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: #ffc997ee;
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 20px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #ffa24a;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);/*mau chu remeber me*/ 
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #000000;/*mau chu qmk*/
}
.two label a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    display: none; /* Khởi đầu ẩn thông báo */
}
.popup-note {
    display: none;
    position: fixed;
    top: 20%;
    margin-left: 90%;
    transform: translate(-50%, -50%);
    background-color: #f1b168;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
}

.popup-note p {
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
